.footer {
  color: #ffffff;
  background-color: #34495e;
}

.jumbotron {
  background-color: #ffffff;
}

body {
  font-size: 16px;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575px) {
    body {
        padding-top: 80px;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767px) {
    body {
        padding-top: 80px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {
    body {
        padding-top: 120px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px) {
    body {
        padding-top: 80px;
    }
}

/* Make footnote [] visible when multiple refs*/
table.footnote td.label {
  color: inherit;
}

pre {
  color: #262626;
}


.panel-keyword {
    border-color: #2c3e50;
}
.panel-keyword > .panel-heading {
    background: #34495e;
    color: #ffffff;
    border-color: #2c3e50;
}

.thumbnail2 {
    height: 550px;
    overflow: auto;
}

.thumbnail3 {
    height: 650px;
    overflow: auto;
}
